@keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@-webkit-keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
/* line 4, ../../../scss/widgets/_login.scss */
.wgt-standard-login {
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
/* line 9, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-title {
  margin-bottom: 22px;
  font-size: 16px;
  color: #333;
  text-align: center;
  height: 50px;
  line-height: 50px;
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.wgt-standard-login .form-title:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .wgt-standard-login .form-title:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .wgt-standard-login .form-title:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .wgt-standard-login .form-title:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 19, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-input {
  height: 40px;
  line-height: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  margin-bottom: 13px;
}
/* line 27, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-input .input-name {
  font-size: 14px;
  color: #777;
  float: left;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
  height: 40px;
  width: 44px;
  padding: 0 8px;
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-8*/
  text-align-last: justify;
  /* ie9*/
  -moz-text-align-last: justify;
  /*ff*/
  -webkit-text-align-last: justify;
  /*chrome 20+*/
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 27, ../../../scss/widgets/_login.scss */
  .wgt-standard-login .form-input .input-name {
    /* chrome*/
  }
  /* line 245, ../../../scss/_vars.scss */
  .wgt-standard-login .form-input .input-name:after {
    content: ".";
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0;
  }
}
/* line 39, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-input .input-cont {
  margin-left: 60px;
  border-radius: 0 3px 3px 0;
}
/* line 44, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-input input {
  color: #333;
  font-size: 14px;
  height: 16px;
  border: none;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 3px 3px 0;
}
/* line 55, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-submit {
  margin: 22px 0 20px 0;
}
/* line 57, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-submit .btn {
  width: 100%;
}
/* line 64, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-verify .btn {
  width: 80px;
  float: right;
  font-size: 12px;
  background: #fff;
}
/* line 69, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-verify .btn.disabled {
  color: #999;
  border: 1px solid #ccc;
}
/* line 74, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-verify .form-input {
  margin-right: 90px;
}
/* line 79, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-links {
  text-align: right;
  margin: 0 -15px 25px 0;
  font-size: 0px;
}
/* line 84, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-links a {
  color: #0a8cfa;
  font-size: 12px;
  display: inline-block;
  padding: 0 15px;
}
/* line 89, ../../../scss/widgets/_login.scss */
.wgt-standard-login .form-links a:not(:last-child) {
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.wgt-standard-login .form-links a:not(:last-child):before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .wgt-standard-login .form-links a:not(:last-child):before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .wgt-standard-login .form-links a:not(:last-child):before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .wgt-standard-login .form-links a:not(:last-child):before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}

@keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@-webkit-keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
/* line 3, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header {
  position: relative;
  height: 160px;
}
/* line 7, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header .header-group {
  position: absolute;
  z-index: 2;
  top: 18px;
  left: 0px;
  right: 0px;
  text-align: center;
}
/* line 15, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header .header-group .group-logo {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin: 0 auto;
}
/* line 21, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header .header-group img {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  vertical-align: middle;
}
/* line 27, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header .header-group .group-name {
  font-size: 16px;
  color: #fff;
  line-height: 1em;
  margin: 8px 0 0 0;
}
/* line 33, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-header .header-group .group-info {
  font-size: 14px;
  color: #fff;
  line-height: 1em;
  margin: 10px 0 0 0;
}

/* line 42, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members {
  position: relative;
  background: #fff;
  padding: 8px 10px;
  height: 30px;
}
/* line 173, ../../../scss/_vars.scss */
.group-members:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .group-members:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .group-members:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .group-members:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 48, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
/* line 54, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li img {
  border-radius: 30px;
}
/* line 57, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more {
  background: #ccc;
}
/* line 60, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more .icon, .group-members li.last-more .icon:before, .group-members li.last-more .icon:after {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: #fff;
}
/* line 67, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more .icon {
  margin: 14px auto;
  position: relative;
}
/* line 72, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more .icon:before, .group-members li.last-more .icon:after {
  content: ' ';
  position: absolute;
  z-index: 2;
  top: 0px;
}
/* line 79, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more .icon:before {
  left: -6px;
}
/* line 82, ../../../scss/fenxiao/invite/_index_info.scss */
.group-members li.last-more .icon:after {
  right: -6px;
}

/* line 90, ../../../scss/fenxiao/invite/_index_info.scss */
.group-desc {
  margin: 20px 0 0 0;
  padding: 0 10px;
  font-size: 12px;
  color: #888;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* line 100, ../../../scss/fenxiao/invite/_index_info.scss */
.join-reason {
  margin: 10px 0 0 0;
  padding: 0 10px;
}
/* line 103, ../../../scss/fenxiao/invite/_index_info.scss */
.join-reason textarea::-webkit-input-placeholder, .join-reason textarea:-moz-placeholder, .join-reason textarea:-ms-input-placeholder {
  color: #aeaeae;
  font-size: 14px;
}
/* line 107, ../../../scss/fenxiao/invite/_index_info.scss */
.join-reason textarea {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  width: 100%;
  height: 75px;
  padding: 10px;
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 121, ../../../scss/fenxiao/invite/_index_info.scss */
.join-btn {
  position: relative;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  background: #f6f6f6;
  padding: 10px;
  font-size: 0px;
}
/* line 173, ../../../scss/_vars.scss */
.join-btn:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #c2c2c2;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .join-btn:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .join-btn:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .join-btn:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 131, ../../../scss/fenxiao/invite/_index_info.scss */
.join-btn .btn {
  width: 48%;
  height: 45px;
  line-height: 43px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 137, ../../../scss/fenxiao/invite/_index_info.scss */
.join-btn .btn:last-child {
  margin-left: 3%;
}

/* line 143, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-bd {
  position: fixed;
  top: 0px;
  left: 100%;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  width: 100%;
  background: #f6f6f6;
  -moz-transform: translate3d(0, 1em, 1em);
  -webkit-transform: translate3d(0, 1em, 1em);
  transform: translate3d(0, 1em, 1em);
}

/* line 156, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-title {
  margin: 20px 0;
  font-size: 17px;
  color: #333;
  text-align: center;
  line-height: 1.5;
}

/* line 164, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form {
  -webkit-font-smoothing: antialiased;
}
/* line 167, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form input::-webkit-input-placeholder, .reg-form input:-moz-placeholder, .reg-form input:-ms-input-placeholder {
  color: #afaeae;
  font-size: 13px;
}
/* line 171, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form textarea::-webkit-input-placeholder, .reg-form textarea:-moz-placeholder, .reg-form textarea:-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
/* line 177, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .account-sec {
  position: relative;
  padding: 0 0 0 10px;
  background: #fff;
}
/* line 173, ../../../scss/_vars.scss */
.reg-form .account-sec:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .reg-form .account-sec:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .reg-form .account-sec:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .reg-form .account-sec:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 182, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .account-item {
  height: 50px;
  line-height: 50px;
}
/* line 185, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .account-item input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0px;
}
/* line 191, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .account-item:not(:last-child) {
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.reg-form .account-item:not(:last-child):before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .reg-form .account-item:not(:last-child):before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .reg-form .account-item:not(:last-child):before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .reg-form .account-item:not(:last-child):before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 195, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .message-item {
  position: relative;
}
/* line 197, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .message-item .send-btn {
  width: 90px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  z-index: 2;
  top: 7px;
  right: 10px;
  font-size: 13px;
}
/* line 209, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .password-item {
  display: none;
}
/* line 213, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .reason-title {
  margin: 18px 0 5px 10px;
  font-size: 13px;
  color: #777;
}
/* line 219, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .reason-textarea {
  padding: 15px 10px 0;
  height: 75px;
  background: #fff;
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.reg-form .reason-textarea:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .reg-form .reason-textarea:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .reg-form .reason-textarea:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .reg-form .reason-textarea:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 224, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .reason-textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  resize: none;
}
/* line 233, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .submit-btn {
  margin: 17px 0;
  padding: 0 10px;
}
/* line 236, ../../../scss/fenxiao/invite/_index_info.scss */
.reg-form .submit-btn .btn {
  width: 100%;
  height: 44px;
  line-height: 44px;
}

/* line 244, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-modal {
  bottom: 0px;
  height: 225px;
  background: #f6f6f6;
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
/* line 250, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-modal .modal-title {
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 30px 0 35px 0;
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.invite-modal .modal-title:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .invite-modal .modal-title:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .invite-modal .modal-title:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .invite-modal .modal-title:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 258, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-modal .modal-input {
  padding: 0 15px;
}
/* line 260, ../../../scss/fenxiao/invite/_index_info.scss */
.invite-modal .modal-input input {
  width: 100%;
  height: 19px;
  line-height: 19px;
  padding: 13px 0 13px 15px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  margin: 0px;
}
