@keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@-webkit-keyframes loading-move {
  50% {
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}
/* line 3, ../../../scss/apps/kb/_index_base.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 7, ../../../scss/apps/kb/_index_base.scss */
.header-menu {
  height: 40px;
  line-height: 40px;
  color: #777;
  font-size: 15px;
  padding-left: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #f6f6f6;
  z-index: 1002;
}

/* line 21, ../../../scss/apps/kb/_index_base.scss */
.content-bd {
  margin-top: 40px;
  overflow: hidden;
}

/* line 26, ../../../scss/apps/kb/_index_base.scss */
.data-list {
  background: #fff;
  padding-top: 2px;
}
/* line 29, ../../../scss/apps/kb/_index_base.scss */
.data-list .item {
  padding: 15px 10px;
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.data-list .item:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .data-list .item:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .data-list .item:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .data-list .item:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 34, ../../../scss/apps/kb/_index_base.scss */
.data-list .no-item {
  text-align: center;
  padding: 50px 0;
}
/* line 38, ../../../scss/apps/kb/_index_base.scss */
.data-list .item-link {
  display: block;
  *zoom: 1;
  display: block;
}
/* line 50, ../../../scss/_vars.scss */
.data-list .item-link:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
/* line 42, ../../../scss/apps/kb/_index_base.scss */
.data-list .item-img {
  float: left;
  width: 73px;
  height: 73px;
  text-align: center;
  line-height: 73px;
  font-size: 0px;
}
/* line 49, ../../../scss/apps/kb/_index_base.scss */
.data-list .item-img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/* line 55, ../../../scss/apps/kb/_index_base.scss */
.data-list .item-info {
  overflow: hidden;
  margin-left: 88px;
}
/* line 59, ../../../scss/apps/kb/_index_base.scss */
.data-list .info-title {
  color: #333;
  font-size: 15px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 65, ../../../scss/apps/kb/_index_base.scss */
.data-list .info-intro {
  color: #777;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 16px;
  margin-top: 9px;
}
/* line 72, ../../../scss/apps/kb/_index_base.scss */
.data-list .info-state {
  *zoom: 1;
  display: block;
  margin-top: 8px;
  line-height: 14px;
}
/* line 50, ../../../scss/_vars.scss */
.data-list .info-state:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
/* line 76, ../../../scss/apps/kb/_index_base.scss */
.data-list .info-state .state-attr {
  float: left;
  font-size: 9px;
  color: #f2395b;
  font-weight: 400;
  height: 12px;
  line-height: 12px;
  border-radius: 2px;
  border: 1px solid #f2395b;
  padding: 0 5px;
}
/* line 87, ../../../scss/apps/kb/_index_base.scss */
.data-list .info-state .state-date {
  float: right;
  font-size: 10px;
  color: #999;
}

/* line 95, ../../../scss/apps/kb/_index_base.scss */
.kb-category {
  top: 40px;
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  max-height: 50%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 101, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list {
  padding: 0 15px;
}
/* line 103, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list .item {
  height: 50px;
  line-height: 50px;
  position: relative;
}
/* line 173, ../../../scss/_vars.scss */
.kb-category .category-list .item:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}
@media (-webkit-device-pixel-ratio: 2) {
  /* line 189, ../../../scss/_vars.scss */
  .kb-category .category-list .item:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 200%;
    height: 200%;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@media (-webkit-device-pixel-ratio: 1.5) {
  /* line 197, ../../../scss/_vars.scss */
  .kb-category .category-list .item:before {
    width: 150%;
    height: 150%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.6666, 0.6666);
    -ms-transform: scale(0.6666, 0.6666);
    -webkit-transform: scale(0.6666, 0.6666);
    transform: scale(0.6666, 0.6666);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  /* line 205, ../../../scss/_vars.scss */
  .kb-category .category-list .item:before {
    width: 300%;
    height: 300%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: scale(0.3333, 0.3333);
    -ms-transform: scale(0.3333, 0.3333);
    -webkit-transform: scale(0.3333, 0.3333);
    transform: scale(0.3333, 0.3333);
  }
}
/* line 107, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list .item.active {
  color: #ff5236;
}
/* line 109, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list .item.active .checked-icon {
  color: #ff5236;
  visibility: visible;
}
/* line 116, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list .item-name {
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
/* line 122, ../../../scss/apps/kb/_index_base.scss */
.kb-category .category-list .no-item {
  color: #777;
  margin: 50px auto;
  text-align: center;
}
/* line 128, ../../../scss/apps/kb/_index_base.scss */
.kb-category .checked-icon {
  float: right;
  visibility: hidden;
}
